<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cool Responsive Portfolio Website Design</title>

    <!-- swiper css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!-- box icons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
  </head>

  <body>
    <!-- header design -->
    <header class="header">
      <a href="#" class="logo">KaykeDev</a>

      <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#about">Sobre</a>
        <a href="#services">Serviços</a>
        <a href="#projects">Projetos</a>
      </nav>

      <div class="bx bx-moon" id="darkMode-icon"></div>

      <div class="bx bx-menu" id="menu-icon"></div>
    </header>

    <!-- home section design -->
    <section class="home" id="home">
      <div class="home-content">
        <h3>Olá, eu sou</h3>
        <h1>Kayke Torres</h1>
        <p>
          Sou Desenvolvedor Front-end Júnior com 2 anos de experiência no
          desenvolvimento web e híbrido utilizando TypeScript, JavaScript,
          Angular e Ionic.
        </p>
        <br>
        <p>
          Atualmente estou buscando oportunidades para poder se realocar no
          mercado de trabalho, onde atualmente estou aprendendo Banco de Dados,
          AWS Cloud, além de me aprofundar no ecossistema Angular.
        </p>

        <div class="social-media">
          <a href="https://www.linkedin.com/in/kayke-torres" target="_blank">
            <i class="bx bxl-linkedin"></i>
          </a>
          <a href="https://github.com/KaykeTorres-Dev" target="_blank">
            <i class="bx bxl-github"></i>
          </a>
        </div>

        <a href="https://drive.google.com/file/d/1Da7OEl-YvE2u8fkt_P1itEBVQseGnPLk/view?usp=sharing" target="_blank" class="btn">Baixar Currículo</a>
      </div>

      <div class="profession-container">
        <div class="overlay"></div>
      </div>

      <div class="home-img">
        <img src="assets/images/kayke.jpg" alt="" />
      </div>
    </section>

    <!-- about section design -->
    <section class="about" id="about">
      <div class="about-img">
        <img src="assets/images/about.png" alt="" />
      </div>

      <div class="about-content">
        <h2 class="heading">Sobre</h2>
        <h3>
          Hi there, welcome to my website! I'm Cristian, a passionate web
          developer who enjoys learning new technologies and solving problems
          with code!
        </h3>
        <p>
          This website is my personal blog where I write about web development
          topics that interest me and inspire me.
        </p>
        <p>
          Thank you for visiting my website and getting to know me better. I
          hope you enjoyed reading my blog posts and found them useful and
          informative. If you want to Saiba Mais of my posts, subscribe to my
          newsletter where I send weekly updates on web development trends and
          tips. If you have any feedback or suggestions, please let me know. I'd
          love to hear from you.
        </p>
      </div>
    </section>

    <!-- services section design -->
    <section class="services" id="services">
      <h2 class="heading">Meus <span>Serviços</span></h2>

      <div class="services-container">
        <div class="services-box">
          <i class="bx bx-code-alt"></i>
          <h3>Desenvolvimento Web</h3>
          <p>
            Desenvolvimento e manutenção de aplicações web e híbridas, consumo e
            integração de APIs Restful, realização de testes unitários,
            ambientes Linux e Windows.
          </p>
        </div>

        <div class="services-box">
          <i class="bx bxs-wrench"></i>
          <h3>Técnico em informática</h3>
          <p>
            Montagem, manutenção e configuração de computadores, instalação de
            programas, upgrade de ssd e memoria RAM, instalação de sistemas
            operacionais e realização de backups.
          </p>
        </div>
      </div>
    </section>

    <!-- portfolio section design -->
    <section class="portfolio" id="portfolio">
      <h2 class="heading">Projetos</h2>

      <div class="portfolio-container">
        <div class="portfolio-box">
          <img src="assets/images/portfolio.png" alt="" />

          <div class="portfolio-layer">
            <h4>Portfólio com Angular 17 e Bootstrap</h4>
            <a href="https://github.com/KaykeTorres-Dev/portfolio">
              <i class="bx bx-link-external"></i>
            </a>
          </div>
        </div>

        <div class="portfolio-box">
          <img src="assets/images/crud-php-front.png" alt="" />

          <div class="portfolio-layer">
            <h4>CRUD com JavaScript, PHP e Laravel - Front-end</h4>
            <a href="https://github.com/KaykeTorres-Dev/teste-pratico-dev-web-junior">
              <i class="bx bx-link-external"></i>
            </a>
          </div>
        </div>

        <div class="portfolio-box">
          <img src="assets/images/crud-php-back.png" alt="" />

          <div class="portfolio-layer">
            <h4>CRUD com JavaScript, PHP e Laravel - Back-end</h4>
            <a href="https://github.com/KaykeTorres-Dev/teste-pratico-dev-web-jr-server">
              <i class="bx bx-link-external"></i>
            </a>
          </div>
        </div>

        <div class="portfolio-box">
          <img src="assets/images/sistema-visao-front.png" alt="" />

          <div class="portfolio-layer">
            <h4>Supervisório de sistemas de visão</h4>
            <a href="https://github.com/KaykeTorres-Dev/sistema_visao"
              ><i class="bx bx-link-external"></i>
            </a>
          </div>
        </div>

        <div class="portfolio-box">
          <img src="assets/images/flappy-bird.png" alt="" />

          <div class="portfolio-layer">
            <h4>Flappy Bird</h4>
            <a href="https://github.com/KaykeTorres-Dev/flappy-bird">
              <i class="bx bx-link-external"></i>
            </a>
          </div>
        </div>

        <div class="portfolio-box">
          <img src="assets/images/consumo-api-angular.png" alt="" />

          <div class="portfolio-layer">
            <h4>Consumo de API com Angular 14</h4>
            <a href="https://github.com/KaykeTorres-Dev/api-consuming">
              <i class="bx bx-link-external"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- testimonial design -->
    <div class="testimonial-container">
      <h2 class="heading">Depoimentos</h2>

      <div class="testimonial-wrapper">
        <div class="testimonial-box mySwiper">
          <div class="testimonial-content swiper-wrapper">
            <div class="testimonial-slide swiper-slide">
              <img src="assets/images/testimonial1.jpg" alt="" />
              <h3>Lucas Vellido - Tech Lead</h3>
              <p>
                É com total confiança que recomendo Kayke Torres para qualquer
                posição de Desenvolvedor Front-end Angular Júnior. Ele possui as
                habilidades técnicas, a mentalidade colaborativa e o compromisso
                coma excelência que são essenciais para esta área.
              </p>
            </div>
            <div class="testimonial-slide swiper-slide">
              <img src="assets/images/testimonial2.jpg" alt="" />
              <h3>Flora Ocean</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Exercitationem dignissimos aliquid iure delectus corrupti
                impedit, beatae aperiam ad iusto nostrum possimus cum pariatur
                harum assumenda suscipit a, qui, tempora maxime nulla facere quo
                ipsum tempore. Atque libero provident ad aut officia pariatur
                voluptate quaerat delectus nesciunt, sequi eligendi aperiam
                fugit unde nihil, iste similique illum. Dignissimos enim officia
                consequuntur dolores.
              </p>
            </div>
            <div class="testimonial-slide swiper-slide">
              <img src="assets/images/testimonial3.jpg" alt="" />
              <h3>Julian Grayson</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Exercitationem dignissimos aliquid iure delectus corrupti
                impedit, beatae aperiam ad iusto nostrum possimus cum pariatur
                harum assumenda suscipit a, qui, tempora maxime nulla facere quo
                ipsum tempore. Atque libero provident ad aut officia pariatur
                voluptate quaerat delectus nesciunt, sequi eligendi aperiam
                fugit unde nihil, iste similique illum. Dignissimos enim officia
                consequuntur dolores.
              </p>
            </div>
          </div>

          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>

    <!-- footer design -->
    <footer class="footer">
      <div class="footer-text">
        <p>Copyright &copy; 2025 | Todos os direitos reservados.</p>
      </div>

      <div class="footer-iconTop">
        <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
      </div>
    </footer>

    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- swiper js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- custom js -->
    <script src="js/script.js"></script>
  </body>
</html>
